@use '../../styles/variables' as *;

.root {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: $space-md;
}

.name {
  display: inline-flex;
  align-items: center;
  gap: $space-sm;
  margin: 0;
  color: $color-text-muted;
}

.icon {
  flex-shrink: 0;
}
