@use '../../styles/variables' as *;

.root {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.title {
  display: inline-flex;
  align-items: center;
  gap: $space-sm;
  margin: 0;
}

.icon {
  flex-shrink: 0;
}
