@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.root {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: $space-md;

  @include respond-md {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 0;
  }

  & > div {
    order: 1;

    @include respond-md {
      order: 2;
    }
  }
}

.title {
  display: inline-flex;
  align-items: center;
  gap: $space-sm;
  margin: 0;
  order: 2;

    @include respond-md {
      order: 1;
    }
}

.icon {
  flex-shrink: 0;
}
