@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.overlay {
  position: absolute;
  inset: 0;
  z-index: 1;
  display: grid;
  place-items: center;
  background: $color-overlay-soft;
}

.box {
  padding: $space-lg 1.75rem;
}

.loader {
  --color-1: #fff;
  --color-2: #0a3e93;
  --size: 0.75px;

  width: calc(48 * var(--size));
  height: calc(48 * var(--size));
  border: calc(5 * var(--size)) solid var(--color-1);
  border-bottom-color: var(--color-2);
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
